.nuxt-content {
  letter-spacing: 0.1em;
}

.nuxt-content h2 {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 16px 0;
}

.nuxt-content h3 {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 16px 0;
}

.nuxt-content p {
  padding-bottom: 16px;
}

.nuxt-content a {
  color: #368ccb;
}

.nuxt-content-highlight {
  padding-bottom: 16px;
}

.nuxt-content {
  @apply break-words;

  & .nuxt-content-highlight {
    @apply relative;

    /* Style filename span added by @nuxt/content */
    & > .filename {
      @apply absolute right-0 top-0 text-gray-100 z-10 leading-none mr-3 mt-3;
    }

    /* Style copy button added in `pages/_slug.vue` */
    & > .copy {
      @apply hidden absolute right-0 bottom-0 leading-none shadow-lg px-2 py-2 text-white bg-gray-800 text-sm uppercase rounded-md border border-white font-semibold mr-3 mb-3;

      &:hover {
        @apply bg-gray-700;
      }

      &:focus {
        @apply outline-none bg-gray-600;
      }
    }
    &:hover {
      & > .copy {
        @apply block;
      }
    }
  }

  /* Force style on pre elements */
  & pre[class*="language-"] {
    /* Make pre static so the relative goes to the parent (.nuxt-content-highlight) */
    @apply bg-gray-800 static;
  }
}