.nuxt-content h2 {
  @apply mb-4 text-xl font-bold;
  /* font-size: 1.6rem;
  font-weight: 500;
  padding: 16px 0; */
}

.nuxt-content h3 {
  @apply mt-6 text-lg font-bold;
  /* font-size: 1.4rem;
  font-weight: 500;
  padding: 16px 0; */
}

.nuxt-content p {
  @apply my-8;
  @media (min-width: 768px) {
    @apply my-10;
  }
  /* margin-bottom: 32px;
  line-height: 1.75rem; */
}

.nuxt-content a {
  color: #20399D;
  border-bottom: solid 1px #20399D;
}

.nuxt-content a:hover {
  border: none;
  color: #20399D;
}

.nuxt-content ul {
  list-style: disc;
  list-style-position: inside;
  @apply my-4;
}

.nuxt-content li {
  @apply py-1;
}

.nuxt-content ul li ul{
  list-style: circle;
  list-style-position: inside;
  @apply my-0 ml-4;
}

.nuxt-content blockquote {
  @apply py-4 pl-5 pr-3 italic shadow-md bg-grayF3;
  border-left: 4px solid #d66853;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14); */
  color: #777;
  /* padding: 35px 15px 10px 15px; */
}

.nuxt-content-highlight {
  padding-bottom: 16px;
}

.nuxt-content {
  @apply break-words;

  & .nuxt-content-highlight {
    @apply relative;

    /* Style filename span added by @nuxt/content */
    & > .filename {
      @apply absolute top-0 right-0 z-10 mt-3 mr-3 leading-none text-gray-100;
    }

    /* Style copy button added in `pages/_slug.vue` */
    & > .copy {
      @apply absolute bottom-0 right-0 hidden px-2 py-2 mb-3 mr-3 text-sm font-semibold leading-none text-white uppercase bg-gray-800 border border-white rounded-md shadow-lg;

      &:hover {
        @apply bg-gray-700;
      }

      &:focus {
        @apply bg-gray-600 outline-none;
      }
    }
    &:hover {
      & > .copy {
        @apply block;
      }
    }
  }

  /* Force style on pre elements */
  & pre[class*="language-"] {
    /* Make pre static so the relative goes to the parent (.nuxt-content-highlight) */
    @apply static bg-gray-800;
  }
}